* {
    font-family: 'Poppins', sans-serif;

}

header {
    background: rgba(209, 229, 248, 0.16);

    width: 100%;
    height: 400px;
    position: absolute;
}

.head1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 75px;

    color: #0A61AE;
    margin-left: -720px;



}

.head2 {

    margin-left: -600px;
    margin-top: 70px;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.06em;
    color: #141212;
}

.search {
    position: relative;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    border: 2px solid #0A61AE;
    border-radius: 2%;
    width: fit-content;
    padding: 10px 20px;
}

.search input {
    width: 350px;
    height: 40px;
    outline: none;
    border: none;
    background: transparent;

}

.search input:focus {
    width: 350px;
    outline: none;
    border: none;
    background: transparent;
}

.search {
    position: relative;

}